*.class

# Package Files #
*.war
*.ear
/JOpenShowVar-core/dist/
/JOpenShowVar-core/build/
/JOpenShowVar-swing/nbproject/private/
/JOpenShowVar-swing/build/
/JOpenShowVar-swing/dist/


#netbeans specific
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml
 

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock