*.class

# Package Files #
*.war
*.ear
/JOpenShowVar-core/dist/
/JOpenShowVar-core/build/
/JOpenShowVar-core/JavaApplication6/nbproject/private/
/JOpenShowVar-swing/nbproject/private/
/JOpenShowVar-swing/build/
/JOpenShowVar-swing/dist/