*.class

# Package Files #
*.war
*.ear
/JOpenShowVar-core/dist/
/JOpenShowVar-core/build/
/JOpenShowVar-swing/build/
/JOpenShowVar-swing/dist/


#netbeans specific
/JOpenShowVar-core/nbproject/*
/JOpenShowVar-core/!nbproject/project.properties
/JOpenShowVar-core/!nbproject/project.xml

/JOpenShowVar-swing/nbproject/*
/JOpenShowVar-swing/!nbproject/project.properties
/JOpenShowVar-swing/!nbproject/project.xml
 

#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock